{#
/**
 * @file vc_contact.html.twig
 * Default theme implementation to present VCContact data.
 *
 * This template is used when viewing VCContact pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_vc_contact()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('vc_contact') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
