.ajax-dashboard--container {
    display: table;
    width: 100%;
    padding: 1rem;
}

.ajax-dashboard-controls, .ajax-dashboard-display {
    display: table-cell;
}

.ajax-dashboard-controls {
    width: 20%;
    max-width: 200px;
    padding: 1.5rem;
    vertical-align: top;
    background-color: #f0f0f0;
}

.ajax-dashboard-display {
    width: auto;
    padding: 1rem;
}

.ajax-dashboard-controls button {
    color: #2c3e50;
    text-align: left;
    background-color: transparent;
    width: 100%;
    border: unset;
    border-radius: unset;
}

.niobi-dashboard-status-button {
    display: table;
    width: 100%;
    padding: 0 1rem;
}

.niobi-dashboard-status-button:hover {
    background-color: #798d8f;
    color: #fff;
}

.niobi-dashboard-status-button span {
    display: table-cell;
    width: 15px;
}

.niobi-dashboard-status-button button {
    display: table-cell;
    width: 100%;
}

.niobi-dashboard-status-button button:hover,
.niobi-dashboard-status-button button:active,
.niobi-dashboard-status-button button:focus {
    background-color: unset;
    border-color: unset;
    color: unset;
}
