{#
/**
 * @file vc_resource.html.twig
 * Default theme implementation to present VCResource data.
 *
 * This template is used when viewing VCResource pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_vc_resource()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('vc_resource') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
