{#
/**
 * @file vc_need.html.twig
 * Default theme implementation to present VCNeed data.
 *
 * This template is used when viewing VCNeed pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_vc_need()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('vc_need') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
