{#
/**
 * @file vc_action.html.twig
 * Default theme implementation to present VCAction data.
 *
 * This template is used when viewing VCAction pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_vc_action()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('vc_action') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
