{#
/**
 * @file vc_event.html.twig
 * Default theme implementation to present VC Event data.
 *
 * This template is used when viewing VC Event pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_vc_event()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('vc_event') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
